@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

a {
    transition: .3s all;
    outline: none;
}
html, body {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}
.no-padding {
    padding: 0;
}
.bg-white {
    background: #ffffff;
}

/*=========================================== main page START ============================================*/
.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}
.wrapper {
    background: rgba(0,0,0, .5);
    height: 100%;
    width: 100%;
    padding-top: 60px;
    display: table;
}
.content {
    display: table-row;
    height: 100%;
}
/*======================================= main page Header START =======================================*/
.navbar-main {
    background: transparent;
    border: none;
}

.logo {
    float: right;
}

.navbar-collapse_custom {
    width: 100%;
}
/*========== dropdown menu ===========*/
.navbar-main .navbar-main_content {
    padding: 0;
    margin: 0;
}
.navbar-main .navbar-main_content > li > a {
    color: #ffffff;
    text-shadow: 3px 6px 0 rgba(0,0,0, .2);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: inherit;
    padding: 0 10px 15px !important;
    white-space: nowrap;
}
.navbar-main .navbar-main_content > li:first-child > a {
    padding-left: 0 !important;
}
.navbar-main .navbar-main_content > li:last-child > a {
    padding-right: 0 !important;
}
.navbar-main .navbar-main_content > li > a:hover,
.navbar-main .navbar-main_content > li > a:focus {
    color: #a0a6ab;
    background: inherit;
}
.navbar-main .navbar-main_content > .active > a,
.navbar-main .navbar-main_content > .active > a:hover,
.navbar-main .navbar-main_content > .active > a:focus {
    color: #a0a6ab;
    background: inherit;
}
.navbar-main .navbar-main_content > .open > a,
.navbar-main .navbar-main_content > .open > a:hover,
.navbar-main .navbar-main_content > .open > a:focus {
    color: #a0a6ab;
    background: inherit;
}
.dropdown-menu > li {
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
}
.dropdown-menu > li > a {
    font-size: 11px !important;
    padding: 15px !important;
    min-width: 155px;
    color: #7a7a7a;
    background: #171717;
    text-transform: uppercase;
}
.dropdown-menu {
    padding: 0 !important;
    border-radius: 0;
}
.navbar-main .navbar-toggle:hover,
.navbar-main .navbar-toggle:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-main .navbar-toggle .icon-bar {
    color: #ffffff;
    background-color: #ffffff;
}
.navbar-main_content .open > a:hover, .navbar-main_content .open > a:focus {
    border-bottom: none !important;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top:-1px !important;
    left:100% !important;
    margin-top:0;
    margin-left:0;
    border-radius: 0;
}
.dropdown-submenu > a {
    color: #7a7a7a !important;
    background: #171717 !important;
}
.dropdown-submenu.open > a, .dropdown-submenu.open > a:active,
.dropdown-submenu > a:hover, .dropdown-submenu.open > a:focus {
    color: #ffffff !important;
    background-color: #262626 !important;
}
.dropdown-submenu.open > .dropdown-menu > li > a:active, .dropdown-submenu.open > .dropdown-menu > li > a:hover,
.dropdown-submenu.open > .dropdown-menu > li > a:focus {
    color: #ffffff !important;
    background-color: #262626 !important;
}
/*====== dropdown menu end =======*/

.contact-btn {
    position: relative;
    display: block;
    background: transparent;
    border: 1px solid #ffffff;
    font-size: 13px;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    max-width: 170px;
    text-shadow: 3px 6px 1px rgba(0,0,0, .2);
}
.contact-btn:before, .contact-btn:after {
    content: " ";
    position: absolute;
    top: 50%;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    width: 177px;
    transition: .3s all;
    box-shadow: 3px 6px 1px rgba(0,0,0, .2);
}
.contact-btn:before {
    left: -187px;
}
.contact-btn:after {
    right: -187px;
}
.contact-btn i {
    margin-right: 5px;
}
a.contact-btn:hover,
a.contact-btn:focus {
    color: #a0a6ab;
    background-color: transparent;
    text-decoration: none;
    transition: .3s all;
}
.contact-btn_shadow {
    position: absolute;
    top: 6px;
    left: 3px;
    border: 1px solid rgba(0,0,0, .2);
    display: block;
    background: transparent;
    height: 30px;
    width: 170px;
    z-index: -1;
}
/*======================================= main page Header FINISH =======================================*/
/*======================================= main page Content START =======================================*/
.heading-wrap {
    margin: 0 0 30px 0;
}
.heading {
    color: #ffffff;
    text-shadow: 3px 6px 0 rgba(0,0,0, .2);
    font-size: 48px;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    background: inherit;
}

.content_nav {
    margin: 0;
    padding: 0;
    width: 100%;
}
.content_nav > li {
    display: inline-block;
    /*margin: 0 70px 70px 0;*/
}
.content_nav > li:last-child {
    margin-right: 0;
}
.content_nav > li > a {
    display: block;
    border-radius: 50%;
    width: 131px;
    height: 131px;
    margin-bottom: 12px;
}
.content_nav > li > a:hover, .content_nav > li > a:focus {
    background-color: transparent;
}

a.content_nav__item-1 {
    background: url(../images/1.png);
}
a.content_nav__item-1:hover {
    background: url(../images/1-hover.png);
}
a.content_nav__item-2 {
    background: url(../images/2.png);
}
a.content_nav__item-2:hover {
    background: url(../images/2-hover.png);
}
a.content_nav__item-3 {
    background: url(../images/3.png);
}
a.content_nav__item-3:hover {
    background: url(../images/3-hover.png);
}
a.content_nav__item-4 {
    background: url(../images/4.png);
}
a.content_nav__item-4:hover {
    background: url(../images/4-hover.png);
}
a.content_nav__item-5 {
    background: url(../images/5.png);
}
a.content_nav__item-5:hover {
    background: url(../images/5-hover.png);
}
a.content_nav__item-6 {
    background: url(../images/6.png);
}
a.content_nav__item-6:hover {
    background: url(../images/6-hover.png);
}

.item-caption {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    max-width: 130px;
    display: block;
    margin: 0 auto;
    text-shadow: 3px 6px 0 rgba(0,0,0, .2);
}

.empty-block {
    width: 100%;
    height: 240px;
    display: block;
}
/*===================================== main page Content FINISH =======================================*/
/*======================================= main page Footer START =======================================*/
.footer {
    width: 100%;
    height: auto;
    background: #171717;
    color: #ffffff;
    font-size: 13px;
    padding: 30px 0 24px;
}
.footer_heading {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 8px;
}
.footer_heading > i {
    margin-right: 10px;
}
.footer_text {

}
.footer_socials {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.footer_socials li {
    display: inline-block;
    margin-left: 10px;
}
.footer_socials a {
    display: block;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 32px;
    height: 32px;
    padding: 8px 5px;
}
.footer_socials i {
    text-align: center;
    display: block;
}
.footer_socials a:hover, .footer_socials a:focus {
    text-decoration: none;
    color: #a0a6ab;
}
/*====================================== main page Footer FINISH =======================================*/
/*=================================== main page Media Queries START ====================================*/
@media (min-width: 768px) {
    .navbar-header, .navbar-collapse_custom {
        margin-bottom: 20px;
    }
    .content_nav > li {
        margin-bottom: 18px;
    }
    .content_nav > li > a {
        margin: 0 auto 12px;
    }
}
@media (max-width: 767px) {
    .wrapper {
        padding: 0;
    }
    .navbar-main .navbar-main_content {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-main .navbar-main_content > li > a {
        color: #7a7a7a;
        background: rgba(10,10,11, .9);
        padding: 16px !important;
        margin: 0;
        font-size: 11px;
        font-weight: normal;
        border-bottom: 1px solid #363636;
    }
    .navbar-main .navbar-main_content > li:first-child > a {
        padding-left: 16px !important;
    }
    .navbar-collapse_custom {
        padding: 0 !important;
    }
    .navbar-main_content .fa {
        float: right;
    }
    .navbar-main .navbar-main_content > li > a:hover,
    .navbar-main .navbar-main_content > li > a:focus {
        color: #ffffff;
        background: rgba(42,42,42, .95);
    }
    .navbar-main .navbar-main_content > .active > a,
    .navbar-main .navbar-main_content > .active > a:hover,
    .navbar-main .navbar-main_content > .active > a:focus {
        color: #ffffff;
        background: rgba(42,42,42, .95);
    }
    .navbar-main .navbar-main_content > .open > a,
    .navbar-main .navbar-main_content > .open > a:hover,
    .navbar-main .navbar-main_content > .open > a:focus {
        color: #ffffff;
        background: rgba(42,42,42, .95);
    }
    .dropdown-menu > li > a {
        color: #7a7a7a;
        background: rgba(10,10,11, .9);
        padding-left: 30px !important;
    }
    .dropdown-submenu > .dropdown-menu-3level > li > a {
        padding-left: 45px !important;
    }
    .dropdown-submenu > a {
        color: #7a7a7a !important;
        background: rgba(10,10,11, .9) !important;
    }
    .dropdown-submenu.open > a, .dropdown-submenu.open > a:active,
    .dropdown-submenu > a:hover, .dropdown-submenu.open > a:focus {
        color: #ffffff !important;
        background: rgba(42,42,42, .95) !important;
    }
    .dropdown-submenu.open > .dropdown-menu > li > a:active, .dropdown-submenu.open > .dropdown-menu > li > a:hover,
    .dropdown-submenu.open > .dropdown-menu > li > a:focus {
        color: #ffffff !important;
        background: rgba(42,42,42, .95) !important;
    }
    .content_nav > li {
        margin-bottom: 18px;
    }
    .content_nav > li > a {
        margin: 0 auto 12px;
    }
    .navbar-header {
        padding: 15px 15px 25px;
        background: rgba(0,0,0, 1);
    }
    .logo {
        float: left;
        padding: 0;
    }
    .navbar-toggle {
        margin-right: 0;
        margin-top: 0;
        border: none;
    }
    .navbar-main .navbar-main_content > li > a {
        text-align: justify;
        padding: 18px 30px;
    }
    .empty-block {
        display: none;
    }
    .footer_text {
        margin-bottom: 10px;
    }
    .footer_socials {
        float: none;
    }
}
@media (max-width: 600px) {
    .wrapper, .content {
        display: block;
        height: auto;
    }
}
/*==================================== main page Media Queries FINISH =====================================*/
/*=========================================== main page FINISH ============================================*/

/*======================================= walking tours page START ========================================*/
/*===== wrapper for all inner pages ======*/
.walking-tour_wrapper {
    background: #ffffff;
    height: 100%;
    width: 100%;
    display: table;
}
.walking-tour_content {
    display: table-row;
    height: 100%;
}
/*=================== walking tours (and for all inner pages) Header START ==============================*/
.walking-tour_wrapper > .walking-tour_content > header {
    padding: 50px 0 30px;
    background: #f0f0f0;
    box-shadow: inset 0 -2px 2px rgba(230,230,230, .5);
}
.walking-tour_wrapper .logo {
    float: left;
    margin-bottom: 20px;
}
.walking-tour_wrapper .navbar-header, .walking-tour_wrapper .navbar-collapse_custom {
    margin-bottom: 20px;
}
.walking-tour_wrapper .navbar-main {
    margin-bottom: 0;
}
.walking-tour_wrapper .navbar-main .navbar-main_content > li > a {
    color: #333333;
    text-shadow: none;
}
.walking-tour_wrapper .navbar-main .navbar-main_content > li > a:hover,
.walking-tour_wrapper .navbar-main .navbar-main_content > li > a:focus {
    color: #a0a6ab;
}
.walking-tour_wrapper .navbar-main .navbar-main_content > .active > a,
.walking-tour_wrapper .navbar-main .navbar-main_content > .active > a:hover,
.walking-tour_wrapper .navbar-main .navbar-main_content > .active > a:focus {
    color: #a0a6ab;
}
.walking-tour_wrapper .navbar-main .navbar-main_content > .open > a,
.walking-tour_wrapper .navbar-main .navbar-main_content > .open > a:hover,
.walking-tour_wrapper .navbar-main .navbar-main_content > .open > a:focus {
    color: #a0a6ab;
}
.walking-tour_wrapper .contact-btn {
    border: 1px solid #333333;
    color: #333333;
    text-shadow: none;
}
.walking-tour_wrapper .contact-btn:before, .walking-tour_wrapper .contact-btn:after {
    background-color: #333333;
    box-shadow: none;
}
.walking-tour_wrapper a.contact-btn:hover, .walking-tour_wrapper a.contact-btn:focus {
    color: #a0a6ab;
}
.walking-tour_wrapper .navbar-toggle .icon-bar {
    background-color: #333333;
}
/*=================== walking tours (and for all inner pages) Header FINISH ==============================*/
/*=================== walking tours (and for all inner pages) Footer START= ==============================*/
.walking-tour_wrapper .footer {
    background: #f0f0f0;
    color: #333333;
    box-shadow: inset 0 2px 2px rgba(230,230,230, .5);
}
.walking-tour_wrapper .footer_socials a {
    border: 1px solid #333333;
    color: #333333;
}
.walking-tour_wrapper .footer_socials a:hover, .walking-tour_wrapper .footer_socials a:focus {
    text-decoration: none;
    color: #a0a6ab;
}
/*=================== walking tours (and for all inner pages) Footer FINISH ==============================*/
/*===================================== walking tours Content START ======================================*/
.content_inner {
    padding: 70px 0;
    background: url("../images/bg_inner.png") no-repeat;
    background-size: 100% 100%;
}
.breadcrumb {
    padding: 0 0 0 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #333333;
}
.breadcrumb > li > a {
    color: #808080;
    transition: .3s all;
    font-size: 14px;
}
.breadcrumb > li > a:hover, .breadcrumb > li > a:focus {
    color: #a0a6ab;
    transition: .3s all;
    text-decoration: none;
}
.breadcrumb > .active {
    color: #a0a6ab;
}

.content-heading {
    display: inline-block;
    margin: 0 0 35px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}
.tab-btn_menu {
    list-style: none;
    margin: 0 0 35px 0;
    padding: 0;
    float: right;
}
.tab-btn_menu li {
    display: inline-block;
    margin-left: 10px;
}
.tab-btn_menu a {
    display: block;
    border: 1px solid #e6e6e6;
    color: #333333;
    width: 34px;
    height: 34px;
    font-size: 17px;
    padding: 8px 5px;
    background: #ffffff;
}
.tab-btn_menu i {
    text-align: center;
    display: block;
}
.tab-btn_menu a:hover, .tab-btn_menu a:focus {
    text-decoration: none;
    color: #a0a6ab;
}
/*========= main tab =============*/
.caption-block {
    border: 1px solid #e6e6e6;
    border-top: none;
    padding: 35px 30px;
    margin-bottom: 30px;
    background: #ffffff;
}
.card-img > img {
    width: 100%;
}
.caption-block_header {
    position: relative;
    display: block;
    margin: 0 0 22px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.caption-block_header:after {
    position: absolute;
    content: "";
    width: 30px;
    left: 50%;
    margin-left: -15px;
    top: 100%;
    height: 1px;
    background: #333333;
}
.caption-block_text {
    font-size: 13px;
    text-align: justify;
    margin: 0 0 30px 0;
}
.caption-block_price {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
    margin: 0 0 18px 0;
}
.caption-block_order-btn {
    display: block;
    max-width: 167px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #333333;
    color: #333333;
}
.caption-block_order-btn:focus, .caption-block_order-btn:hover {
    color: #a0a6ab;
    text-decoration: none;
}
/*========= list tab ===========*/
#list .card-wrapper {
    margin-bottom: 30px;
}
#list .card-img {
    position: relative;
}
#list .card-img > img {
    height: 100%;
    width: 100%;
}
#list .caption-block {
    border: 1px solid #e6e6e6;
    border-left: none;
    padding: 0 30px;
    margin-bottom: 0;
}
#list .caption-block .caption-block_header {
    text-align: justify;
    padding-bottom: 0;
    margin-top: 35px;
}
#list .caption-block .caption-block_header:after {
    background: transparent;
    display: none;
}
#list .caption-block_text {
    font-size: 16px;
    margin-bottom: 17px;
}
#list .caption-block_price {
    text-align: justify;
    margin: 0 15px 0 0;
    display: inline-block;
}
#list .caption-block_order-btn {
    display: inline-block;
    margin: 0 0 25px 0;
    width: 170px;
}
/*===================================== walking tours Content END ======================================*/
/*====================================== tours page Content START ======================================*/
/* styles for slider */
.carousel {
    background-color: #fff;
    margin: 0;
}
.carousel-inner {
    margin-bottom: 30px;
}
.carousel-inner .item {
    box-shadow: inset 0 0 10px rgba(0,0,0, .5);
}
.indicators {
    list-style: none;
    margin: 0;
    position: relative;
    padding-left: 0;
}
.indicators li {
    background-color: #fff;
    cursor: pointer;
}
.indicators li a {
    color: #717171;
    display: block;
    transition: .3s all;
}
.indicators li a:hover, .indicators li a:focus {
    opacity: .5;
    text-decoration: none;
    transition: .3s all;
}
.indicator-img-1, .indicator-img-2, .indicator-img-3 {
    height: auto;
    margin-top: 10px;
    width: 100%;
}
.carousel-indicators .active {
    background-color: #fff;
}

.tour-description {
    border: none;
}
.tour-description_heading {
    position: relative;
    display: block;
    font-size: 24px;
    margin: 10px 0 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.tour-description_subheading {
    font-size: 13px;
    color: #cccccc;
    text-decoration: underline;
    margin-bottom: 26px;
}
.tour-description_text {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 26px;
}
.tour-description_price {
    font-size: 18px;
    text-align: left;
    text-decoration: underline;
    margin: 0 0 18px 0;
}
.tour-description_btn {
    display: block;
    width: 170px;
    margin: 0 auto 20px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #333333;
    color: #333333;
}
.tour-description_btn:focus, .tour-description_btn:hover {
    color: #a0a6ab;
    text-decoration: none;
}
/*====================================== tours page Content FINISH ======================================*/
/*===================================== contact page Content START ======================================*/
.map {
    height: 420px;
    width: 100%;
    border: 1px solid #d6d6d6;
}

.contact-info_header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}
.contact-info_header i {
    margin-right: 13px;
    color: #333333;
}
.contact-info_text {
    font-size: 16px;
    margin-left: 30px;
    color: #333333;
}
/*===================================== contact page Content FINISH =====================================*/
/*=================================== inner pages Media Queries START ===================================*/
@media (min-width: 992px) {

}
@media (min-width: 768px) {
    .walking-tour_wrapper .navbar-header {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .logo_inner {
        float: right !important;
    }
}
@media (max-width: 767px) {
    .walking-tour_wrapper > .walking-tour_content > header {
        padding: 0;
    }
    .walking-tour_wrapper .navbar-header {
        background: #f0f0f0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 600px) {
    .walking-tour_wrapper, .walking-tour_content {
        display: block;
        height: auto;
    }
}
/*================================== inner pages Media Queries FINISH ===================================*/